[2021-02-06 22:19] HajoRijgersberg commented on #101
Personally, I do think we should define "all" possible compound (prefixed) units. If people have to define them themselves, we will encounter similar definitions, that _just_ deviate a bit from each other, especially in their URI (especially if the URIs are opaque, but also with non-opaque URIs formed using rules people will make mistakes).

[2021-02-08 07:24] tgbugs commented on #101
If all possible combinations are constructed then wouldn't there need to be a function to take the composition rule and the input units and turn it into an identifier to make it possible for people to find the right opaque identifier?

[2021-02-08 16:46] HajoRijgersberg commented on #101
Yes, I think so. That could definitely be automated. Kai could incorporate it into his algorithms, although it anticipates the opaque/non-opaque discussion.

[2021-02-09 16:45] nicolevasilevsky commented on #331
@chris-grove commented in slack:
I seem to recall that after our journal club discussion with @davidos on Sept 10, 2020 (see minutes) that the latest proposal superseded PATO ticket #331, but maybe I'm misremembering

https://docs.google.com/document/d/1WrQanAMuccS-oaoAIb9yWQAd4Rvy3R3mU01v9wHbriM/edit#bookmark=id.2p6d3tw070x

and @dosumis  commented:
I have some half finished modelling experiments

[2021-02-09 16:46] nicolevasilevsky commented on #331
@pnrobinson said in slack:
I do not understand the difference between physical absence (applied to something in the body) and anatomical entity absence

[2021-02-16 12:39] dosumis commented on #385
Edited slightly for clarity.

[2021-02-16 12:51] #364 closed

[2021-02-16 12:53] dosumis commented on #379
Might be wrong def here?  Same as def to untufted?  What is stellate (star-like) about these?

[2021-02-16 12:56] dosumis commented on #376
Not following.  Does this def conflict with that for horizontal pyramidal neurons?  Perhaps in regard to how apical/basal are determined?

[2021-02-16 12:57] shawntanzk commented on #379
I think the difference is untufted have large radial distance, but either way, I've added "forming a star-like shape" to it to be clearer

[2021-02-17 12:26] #362 closed

[2021-02-17 15:34] diatomsRcool opened #394 "NTR moving organismal quality terms from ecocore to PATO"
Please see https://github.com/EcologicalSemantics/ecocore/issues/137

[2021-02-18 18:53] tgbugs commented on #376
I think the issue is that colloquially `pyramidal neuron` -> `vertical pyramidal phenotype` so if someone just reports `pyramidal phenotype` unqualified then they mean `vertical pyramidal phenotype`. As a result I never created `vertical pyramidal phenotype` because no one ever talks about it that way or would know what it means. We wind up in a situation where ideally the labels would be `pyramid

[2021-02-18 20:40] shawntanzk commented on #376
That makes sense, I think your suggestion on having pyramidal family with standard/vertical pyramidal under it sounds like a good solution. I do worry that it might be confusing if we put it as just pyramidal morphology though - perhaps "standard pyramidal morphology" with "vertical pyramidal morphology" as a synonym and description clearly stating the verticality + as you suggest, disjoint with h

[2021-02-18 22:24] tgbugs commented on #376
I think that will work. I think that `pyramidal morphology` will need to be a synonym as well since it is by far the most common usage.

[2021-02-19 08:32] shawntanzk opened #395 "NTR: standard pyramidal morphology"
Term:
standard pyramidal morphology

Synonyms:
vertical pyramidal morphology
pyramidal morphology

Definition:
A pyramidal cell morphology that inheres in neurons which have a standard pyramidal shape with its apical dendrite aligned vertically.

Parent Class:
pyramidal morphology #376

Others:
ilxtr:PyramidalPhenotype
disjoint with horizontal pyramidal morphology #381

[2021-02-19 08:34] shawntanzk commented on #376
I've edited this term to be pyramidal family morphology, and have added standard pyramidal morphology accordingly - do let me know if you think the description is alright. Thanks!

[2021-02-25 14:34] ybradford commented on #331
I agree with @chris-grove comment that we discussed this on 9/10/2020 and moved toward using 'has fewer parts of type'. I believe tickets #341 and #340 are stubs meant to deal with the suggested changes.

[2021-03-12 20:27] cmungall commented on #394
I support this and I think it will make things simpler. I assume that organismal characteristics that apply to microbes (e.g. facultative anaerobe) will also go into PATO?

I think there is clearly precedent for these kinds of terms.

The counter argument is that PATO should be more basic characteristics that can be composed with different entities. But I think it's just the case that there are so

[2021-03-24 20:19] #376 closed

[2021-03-24 20:19] #377 closed

[2021-03-24 20:19] #378 closed

[2021-03-24 20:19] #379 closed

[2021-03-24 20:19] #380 closed

[2021-03-24 20:19] #381 closed

[2021-03-24 20:19] #395 closed

[2021-04-08 12:25] meichen-liu opened #397 "NTR: "thermoplastic""
Cross reference [EnvironmentOntology/ENVO#1081](https://github.com/EnvironmentOntology/envo/issues/1081)

Dear PATO team,
with reference to the ENVO issue above, We'll be requesting a set of qualities that we think are general enough for PATO. This is connected to the work for UN environment group around SDG14. Together with @iwilkie and @raissameyer, I'll be working on this for the coming weeks a

[2021-04-12 17:56] #382 closed

[2021-04-14 13:28] diatomsRcool opened #399 "ID range request"
May I please have an ID range? :)

[2021-04-15 09:06] #385 closed

[2021-04-15 09:12] #384 closed

[2021-04-15 09:19] #383 closed

[2021-04-15 09:31] #373 closed

[2021-04-15 09:31] #374 closed

[2021-04-15 09:31] #375 closed

[2021-04-15 09:36] #367 closed

[2021-04-22 16:52] diatomsRcool commented on #399
When I get added to this repo, I can add the ID range myself.

[2021-05-06 23:11] PaulNSchofield opened #402 "http://purl.obolibrary.org/obo/PATO_0001744 and children"
We are looking at classes for radiation exposure and looked at the above class and its children for the RBO. The problem is that the definition of this class " A radiation quality inhering in a bearer by virtue of what the bearer receives as a result of being exposed to ionizing radiation." is not so much Radiation exposure as "radiation exposed", being a property of an entity which has in the pas

[2021-05-06 23:24] PaulNSchofield opened #403 "http://purl.obolibrary.org/obo/PATO_0001739 label"
The label for this class is somewhat confusing for a radiation scientist. The term radiation quality specifically refers to the  fluence spectrum of charged and neutral particles (particle types and energies) of the incident radiation AT the target. This is not what is meant here where I think the definition suggests that it is a quality of the irradiated entity and not the radiation.

"A quality

[2021-05-17 13:10] #399 closed

[2021-05-18 15:24] shawntanzk opened #406 "NTR: unipolar neuron morphology"
**Preferred term label:**
unipolar neuron morphology

**Definition:**
A cell morphology that inheres in neurons with only one process, called a neurite, that extends from the cell body. The neurite then branches to form dendritic and axonal processes.
https://en.wikipedia.org/w/index.php?title=Unipolar_neuron&oldid=994458581

**Parent term:**
cell morphology

[2021-05-18 15:29] shawntanzk opened #407 "NTR: multipolar neuron morphology"
Preferred term label:
multipolar neuron morphology

Definition:
A cell morphology that inheres in neurons which possess a single axon and many dendrites and dendritic branches.
https://en.wikipedia.org/w/index.php?title=Multipolar_neuron&oldid=1022942606

Parent term:
cell morphology

[2021-05-24 06:31] #407 closed

[2021-05-26 19:02] #368 closed

[2021-05-26 19:02] #369 closed

[2021-05-26 19:02] #370 closed

[2021-05-26 19:02] #371 closed

[2021-06-01 17:02] shawntanzk opened #413 "Fix: bitufted cell morphology"
See comments on https://github.com/obophenotype/cell-ontology/pull/1078

1. Are branches only dendritic branches?
2. It should be 'occurs' instead of 'occur' in the gloss.

[2021-06-02 12:11] shawntanzk commented on #413
Good question, not 100% sure to be honest, tried to do some reading and I think the axon might be part of the branch. This diagram seems to suggest it at least
![Screenshot 2021-06-02 at 13 08 09](https://user-images.githubusercontent.com/76212760/120477761-0c19c380-c3a4-11eb-9dda-9918f33b0d5a.png)

Thanks, will fix it :)

[2021-06-02 12:16] shawntanzk commented on #413
![Screenshot 2021-06-02 at 13 16 07](https://user-images.githubusercontent.com/76212760/120478388-b72a7d00-c3a4-11eb-98ec-25dc6a205566.png)
This is a better diagram

[2021-06-02 22:43] patrick-lloyd-ray commented on #413
The term _branches_ can be used to describe both (parts of) axons and dendrites, although it's often disambiguated through context (in my experience). In [1078](https://github.com/obophenotype/cell-ontology/pull/1078), basket cells have branched axons, and bitufted cells have branched dendrites (in the original definition).

Maybe _bitufted cell morphology_ should be general so that it is agnostic

[2021-06-03 00:33] tgbugs commented on #413
Unqualified uses of the term `branches` are ambiguous and should be avoided or should be qualified for clarity. For bitufted cells I would go with this paragraph from the 2004 paper https://doi.org/10.1038/nrn1519

Note that bipolar cells and double boquet cells are also described as having bitufted _dendrites_, so there is also a dendritic morphological phenotype that is bitufted which is distinc

[2021-06-03 07:35] shawntanzk commented on #413
Thanks heaps @patrick-lloyd-ray & @tgbugs - really useful comments.
I remember having similar problems, and having to discuss this with @dosumis heaps.
I think that the current def which is taken mostly from the Petilla terminology paper is useful in that it's very simple - in that regard I kept some of the old def.
But reading what @tgbugs, I do think there needs to be a better def with more deta

[2021-06-03 17:51] patrick-lloyd-ray commented on #413
This is a really interesting point. It seems to me that (ideally) bitufted cell morphology would inhere in a cell _in virtue of_ bitufted dendrite morphology or bitufted axon morphology (or both). It is an issue of grounding, IMO. This way, bitufted cell morphology would then be distinct from bitufted dendrite morphology and bitufted axon morphology, although one would be able to infer that bituft

[2021-06-03 18:19] tgbugs commented on #413
Bitufted axon morphology doesn't really exist in that bitufteness isn't a property of the axons alone in the way it is of the dendrites alone. As you note, while it would be nice to have bitufted cell morphology derived from having bitufted dendrite morphology the way that the term is used precludes this. We could create a new class which is `cell with bitufted dendrite morphology` but it will not

[2021-06-03 18:42] shawntanzk commented on #413
I can add in CL `cell with bitufted dendrite morphology` of which `bipolar cell` `bitfuted cell` `double bouquet cell` are subclass_of and use the def to clarify the issue a bit? I'm not sure if this should be in PATO though, I think it will be incredibly confusing unless we do it separately as dendrite morphology which comes with a whole host of other difficulties. Thoughts?

[2021-06-03 18:47] patrick-lloyd-ray commented on #413
That's a good point @tgbugs . I'm happy with whatever solution captures existing usage even if that means that it is not as systematic as we wish it were.

`bitufted cell morphology` is not so confusing as to deserve exclusion, so I'm okay with the original solution @shawntanzk has given.

I don't think this is the last we have seen of this problem, so maybe we can discuss a general solution/strat

[2021-06-03 19:59] tgbugs commented on #413
I'm ok with the solution as given for now, the bitufted cell morphology is used and should be in PATO (precisely because it is well defined and the naming is confusing). I also think that `cell with bitufted dendrite morphology` might help.

[2021-06-04 08:41] shawntanzk commented on #413
@tgbugs totally get where youre coming from, will create a ticket for 'cell with bitufted dendrite morphology' :)

[2021-06-04 08:51] shawntanzk opened #415 "NTR: cell with bitufted dendrite morphology"
Preferred term label:
cell with bitufted dendrite morphology

Definition:
A cell morphology that inheres in neurons with dendrites that are bidirectional, emerging from opposite ends of the soma, with the two arbors extending in radial or tangential directions. (PMID: 18568015)

Parent term:
Cell morphology
_Note: Bipolar and bitufted should be asserted under this_

related to #414

[2021-06-08 12:16] cthoyt opened #417 "Add obofoundry topic to repo metadata"
The OBO Foundry has recently created a topics page at https://github.com/topics/obofoundry. It would be great if you could add the `obofoundry` topic to your repository, since it's currently listed as active in the OBO Foundry. If you're not sure how to do that, follow the instructions [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/classifying-your

[2021-06-08 13:34] matentzn commented on #417
Done.

[2021-06-08 13:34] #417 closed

[2021-06-11 09:18] dosumis commented on #415
I don't understand the need for this term when we already have bitufted.  Can you explain further?

This is a morphology term, but the name makes it sound like a cell type.

The radial vs tangential thing is, I suspect, cortex specific.

Bipolar can't be under here - that applies to cells with axon & dendrite emerging from opposite ends of the soma.

[2021-06-11 09:33] shawntanzk commented on #415
Think this is a way to differentiate bitufted cell mophology from bitufted dendrite which refer to two different things (see discussion on closed PR #413) bitufted dendrite being dendrites that emerge from both sides including bipolar and double boquet cells, though the point on Bipolar having dendrite and axon on opposite side is a good one. Thoughts on this @tgbugs?

[2021-06-11 13:15] shawntanzk opened #418 "Add GCIs for projection PATO terms"
related to #412

Need to add GCIs for projection term once @shawntanzk figures out UBERON imports

IT-projecting: GCI: 'bearer of' some 'intratelencephalic projection' subClassOf 'part of' some telencephalon
corticomedulla projecting: GCI: bearer_of some 'medulla projecting' subClassOf 'axon synapses in' some 'medulla oblongata'

[2021-06-11 16:11] tgbugs commented on #415
I think we should included an editor note or similar to explain exactly why we need this due to the confusing nature of the original nomenclature where there is a cell type that has the same name as a dendrite type but the cell type with the name is a specific subset of the cells with the dendrite type.

[2021-06-12 07:56] shawntanzk commented on #415
@tgbugs wondered what your thoughts on this are - currently bipolar is asserted under cell with bitufted dendrite morphology, however @dosumis makes a good point that bipolar cells have one end being axons, while the other being dendrite, hence not technically falling under cell with bitufted dendrite morphology.

[2021-06-15 01:51] cmungall opened #420 "Add triad for contanimated"
* contaminatedness
     * contaminated
     * uncontaminated

[2021-06-15 02:00] #357 closed

[2021-06-15 07:02] #406 closed

[2021-06-15 08:19] #418 closed

[2021-06-15 15:27] #320 closed

[2021-06-29 19:17] #397 closed

[2021-06-29 19:17] #420 closed

[2021-07-22 14:48] shawntanzk commented on #344
Fixed

[2021-07-22 14:48] #344 closed

[2021-07-26 17:25] shawntanzk commented on #55
Neuron qualities basically fixed
Spine density not yet, will start looking into it

[2021-07-27 08:44] shawntanzk commented on #55
Notes:

Will create a class, dendrite quality, under morphology (PATO:0000051), similar to ILX which is under morphological quality

http://neurolex.org/wiki/Category-3ASmooth -> seems to be taken care of by PATO:0000701 (smooth)

http://neurolex.org/wiki/Category-3ASpiny_high_density
http://neurolex.org/wiki/Category-3ASpiny_low_density
-> not sure why this is under quality in ILX instead of dend

[2021-07-29 13:17] shawntanzk commented on #345
PR has been merged and term has been added

[2021-07-29 13:17] #345 closed

[2021-07-29 13:26] kaiiam commented on #345
Thanks @shawntanzk!

[2021-07-29 13:34] shawntanzk commented on #330
Solution seems to have been found

[2021-07-29 13:34] #330 closed

[2021-07-29 15:41] #351 closed

[2021-07-29 21:52] tgbugs commented on #415
There is some confusion here. When I check the Petilla paper (which is what the NPO terms correspond most closely to) https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2868386/ I see this in the dendrites section:

We likely have to distinguish between retinal bipolar cells which are as @dosumis states, and cortical bipolar cells, which are different.

[2021-07-30 07:39] shawntanzk commented on #415
Thanks for the clarification @tgbugs
I've made the following changes in the PR #416
1.  Changed bipolar morphology to cortical bipolar morphology
2. Changed def of cortical bipolar morphology to state specifically dendrite
3. Added comment to state that is distinguished from retinal bipolar morphology
4. Added a new term retinal bipolar morphology

[2021-07-30 18:58] #55 closed

[2021-07-30 19:18] shawntanzk commented on #134
Term is present at https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0040005

[2021-07-30 19:18] #134 closed

[2021-07-30 19:24] shawntanzk commented on #80
Defs look different now:
hardness: A physical quality inhering in a bearer by virtue of the bearer's resistance to pressure, being broken, or pierced.
flexibility: A physical quality inhering in a bearer by virtue of the bearer's disposition to being turned, bowed, or twisted without breaking.

[2021-07-30 19:24] #80 closed

[2021-08-18 15:12] #257 closed

[2021-08-30 09:47] matentzn opened #434 "Located in is a super confusing quality to have.."
Note to self, I have no seen a few places, and even papers, which use PATO:located in instead of RO:located in.. I feel this class should simply be obsoleted. It is used in patterns like

https://www.ebi.ac.uk/ols/ontologies/flopo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFLOPO_0013148

Which I think we should avoid in favour of the RO-style modelling

[2021-09-02 16:53] ddooley opened #435 "Rename "originates from" to include position"
The "position" qualities encode spatial object relations, which is fine, though it suggests that many of those qualities attach between objects in a complementary way, essentially encoding mereotopology into qualities ( e.g. 'adjacent to' - "A has quality 'adjacent to' [has value] value B" and visa versa). But I'm just interested in "originates from" whose label belies a more specific meaning - it

[2021-09-06 06:50] shawntanzk commented on #435
Hi @ddooley, was asked to help be the first pass (resolving issues if I can, if not assigning it to someone who can) for PATO.
So, from my understand of your ticket, your ideal fix would be to change PATO:0040002 label from "originates from" to "position originates from" so that you can have another term that is "originates from" that is not related to position right?

[2021-09-06 06:53] shawntanzk commented on #435
@dosumis is there a protocol to change labels or do we just go ahead and do so? I worry because usually I would add the previous label as synonym, but this would be tricky as there will eventually be another "originates from". Happy to just make the label change if that's alright?

[2021-09-06 07:32] dosumis commented on #435
@shawntanzk  - just add a clarifying

[2021-09-07 07:49] shawntanzk commented on #435
@ddooley could you help me take a look if this is ideal for you please? thanks
https://github.com/pato-ontology/pato/pull/436

[2021-09-07 14:51] ddooley commented on #435
Great, thanks!

[2021-09-09 10:56] shawntanzk opened #439 "Add “obsolete term use” check"
PATO needs to have a check for obsolete terms

[2021-09-09 12:21] #439 closed

[2021-09-13 03:01] cmungall commented on #112
@bpeters42 I really like your suggestion:

Can we implement this in COB?

Rather than forcing people to make a distinction, let everything be characteristics. If you want to make an assertion about a realization of a chracteristic, or a characteristic being evolved or designed, then go ahead and do that if it makes sense. People will be able to query for realized characteristics, or designed chara

[2021-09-13 03:13] bpeters42 commented on #112
Obviously I like my own suggestion, but I hope you are not saying to
implement it this minute (before the workshop) into COB?

On Sun, Sep 12, 2021 at 8:01 PM Chris Mungall ***@***.***>
wrote:

--
Bjoern Peters
Professor
La Jolla Institute for Immunology
9420 Athena Circle
La Jolla, CA 92037, USA
Tel: 858/752-6914
Fax: 858/752-6987
http://www.liai.org/pages/faculty-peters

[2021-10-05 07:20] shawntanzk commented on #102
Hopefully this is resolved now? since it's from 2016 I'm going to close this, but please do reopen and place it in https://github.com/orgs/obophenotype/projects/5 if this is still a problem that needs to be fixed. Thanks

[2021-10-05 07:20] #102 closed

[2021-10-05 18:23] cmungall opened #442 "Add terms from microbial phenotype ontology"
E.g
https://bioportal.bioontology.org/ontologies/MPO?p=classes&conceptid=http%3A%2F%2Fpurl.jp%2Fbio%2F10%2Fmpo%23MPO_04014

add branches under energy source, motility, ...

cc @hrshdhgd @diatomsRcool

[2021-10-07 16:56] dosumis opened #443 "rate of continuous process should be under efficacy but rate of occurrence should not"
Both are defined in terms of output.

'rate of continuous process': "The rate of output of a continuous process. Example include: growth rate, cell migration rate, enzyme reaction rate."

process efficacy: "The ability of a process to produce its output."

Efficacy term is useful for cases where the output of a process is not quantifiable.  e.g. a developmental process that produces one specific s

[2021-10-18 12:30] matentzn opened #446 "Rename PATO"
The acronym PATO stands for "Phenotype And Trait Ontology", but the actual contents of PATO are much more broad. In our current model, PATO is an ontology of "physical and processual qualities", widely used across domains from agronomy, environments to phenotypes.

Obviously we wont change the acronym, someone creative may be able to come up with something. Here a few Ideas:

1. **P**hysical **a**

[2021-10-21 18:16] sbello opened #447 "correct definition for cyst terms"
The PATO definition of cystic (PATO:0001673) specifies “epithelium bounded”.

By my interpretation this mean that we can not use the cyst in location pattern for terms like syringomyelia since in this case it is neuroglia that lines the fluid filled cavity.

NCIT cyst (http://www.ontobee.org/ontology/NCIT?iri=http://purl.obolibrary.org/obo/NCIT_C2978) defines this as “sac-like closed membranous st

[2021-11-03 13:18] #435 closed

[2021-11-03 16:57] #415 closed

[2021-11-11 15:27] shawntanzk commented on #394
Terms have been merged

[2021-11-11 15:27] #394 closed

[2021-11-16 12:23] matentzn commented on #342
@shawntanzk can you deal with this so we can get rid of CP once and for all?

[2021-11-19 10:04] #353 closed

[2021-11-22 14:16] matentzn commented on #278
This is the related OMO thread:

https://github.com/information-artifact-ontology/ontology-metadata/issues/60

My suggestion:

can we unify on dc:contributor with orcid moving forward.

- [ ] @shawntanzk raise at CL meeting and get people to object or agree on the ticket

[2021-11-22 14:53] shawntanzk opened #454 "Cleaning Object Properties in PATO"
PATO currently probably uses non-RO terms for relations when they should be RO (from the report):
see http://dashboard.obofoundry.org/dashboard/pato/fp7.html
This needs to be fixed by replacing them with RO terms
@shawntanzk to investigate

EDIT: Also, Object Properties should not be using mnemonic names (like RO:towards), see also https://github.com/pato-ontology/pato/issues/355, but real ids lik

[2021-11-23 09:13] shawntanzk commented on #278
General agreement to do this for CL and Uberon
Add a requirement for dc:contributor

[2021-11-26 08:55] shawntanzk commented on #454
PATO seems to use weird purls for a whole bunch of relations, this should be replaced by RO terms
Will import terms into RO and change the IRIs to point to RO purls instead

[2021-11-26 09:25] shawntanzk commented on #454
mappings:

towards > RO:0002503
correlates_with > RO:0002610

decreased_in_magnitude_relative_to > These bunch have no RO term, might have to also look individual case basis?
different_in_magnitude_relative_to > perhaps using RO:0002424 (differs in)
similar_in_magnitude_relative_to >
increased_in_magnitude_relative_to >
has_relative_magnitude >

directly_associated_with > based on magnitude too, n

[2021-11-26 09:28] shawntanzk commented on #454
@cmungall I noticed that a lot of these terms were added by you - was wondering if these should move to RO or there's a reason to keep them specific to PATO?

[2021-11-29 14:03] anitacaron commented on #454
Nico will contact Chris on Slack.

[2021-11-29 14:15] matentzn commented on #454
Did. pato slack on obo-community

[2021-11-29 14:57] anitacaron commented on #355
Closing in favor of #454

[2021-11-29 14:57] #355 closed

[2021-11-29 20:59] cmungall commented on #454
If they are useful, move them to RO

Some are used in TO, we need to align TO patterns with upheno

[2021-12-01 08:02] shawntanzk commented on #454
@cmungall does useful = actually used in PATO or like generally useful?
Happy to try to bit by bit sort this out and migrate to RO

[2021-12-01 08:16] matentzn commented on #454
This is a great question @shawntanzk

I would do this:

Check on OLS whether a relation is used somewhere:

https://www.ebi.ac.uk/ols/search?q=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2Fpato%23has_divisor_entity&groupField=iri&exact=on&start=0

For example, has_divisor_entity is used by FLOPO, MS and PATO:

![image](https://user-images.githubusercontent.com/7070631/144196774-87b9df1e-7061-491b-bec7-

[2021-12-01 08:18] matentzn commented on #454
And dont spend much time, remember: open ontology work is super exciting and important, but it is a time suck: better we make tiny constant progress then to have someone like @dosumis pull the plug because we get to carried away fixing things that are only tangentially related to our respective projects.

[2021-12-03 09:07] shawntanzk commented on #454
http://purl.obolibrary.org/obo/pato#towards – XPO, FLOPO, HP, MP, MS, PHIPO, WBPhenotype, ZP

http://purl.obolibrary.org/obo/pato#correlates_with – PLANP, FBcv FLOPO, MP, MS, WBPhenotype, XPO, ZP

http://purl.obolibrary.org/obo/pato#decreased_in_magnitude_relative_to – PLANP, AISM, CL, CMPO, ECTO, EFO, FBcv FLOPO, FYPO, HCAO, HP, MAXO, MONDO, MP, MS, NBO, ONTONEO, PCO, PHIPO, TO WBPhenotype, XPO,

[2021-12-06 14:13] anitacaron commented on #454
@matentzn will discuss with Chris

[2021-12-06 15:46] anitacaron commented on #281
Related #278

[2021-12-06 18:32] matentzn commented on #454
Usage API

SPLIT into to

1) Useful in PATO for modeling
2) Design patterns for PATO
3) Some of them are used in general design patterns (plant people xyz) -

finish later

[2021-12-06 22:30] matentzn commented on #454
I have updated @shawntanzk comment above with the proposed actions.

[2021-12-07 11:23] shawntanzk commented on #454
http://purl.obolibrary.org/obo/pato#correlates_with - this is currently being used, but also, it can be mapped to a RO term (https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002610) - will map instead

[2021-12-07 14:35] shawntanzk commented on #454
For realized by, I have decided to deprecate it and leave a comment and term replaced by (it is current not being used and the RO term is not exact)

[2021-12-08 16:24] #278 closed

[2021-12-08 16:24] #281 closed

[2021-12-09 15:36] shawntanzk opened #459 "Import error"
I've been trying to import some terms in from RO and have ran into some errors:

if [ true  = true ] && [ true  = true ]; then robot --catalog catalog-v001.xml convert -I http://purl.obolibrary.org/obo/ncbitaxon/subsets/taxslim.obo -o mirror/ncbitaxon.owl.tmp.owl && mv mirror/ncbitaxon.owl.tmp.owl mirror/ncbitaxon.owl; fi
[Fatal Error] :1:50: White spaces are required between publicId and systemId

[2021-12-09 15:36] shawntanzk commented on #459
Detailed logs:
--------------------------------------------------------------------------------
Parser: org.semanticweb.owlapi.rdf.rdfxml.parser.RDFXMLParser@5b56b654
    Stack trace:
org.xml.sax.SAXParseException; systemId: http://purl.obolibrary.org/obo/ncbitaxon/subsets/taxslim.obo; lineNumber: 1; columnNumber: 1; Content is not allowed in prolog.        org.semanticweb.owlapi.rdf.rdfxml.parser

[2021-12-09 15:38] matentzn commented on #459
in pato-odk.yml change taxonslim.obo to taxonslim.owl, run `sh run.sh make update_repo` then try again

[2021-12-09 15:39] shawntanzk commented on #459
thanks will give it a try :) really appreciate your help on this!

[2021-12-10 10:26] shawntanzk commented on #459
Resolved

[2021-12-10 10:26] #459 closed

[2022-01-04 08:04] shawntanzk opened #462 "Add NLX electrophys terms to PATO"
@tgbugs creating this ticket to keep track of this.
Happy to add them myself if you can point me to the terms, if not happy for you to create tickets and I'll add them too.
Thanks

[2022-01-04 14:38] tgbugs commented on #462
https://github.com/SciCrunch/NIF-Ontology/blob/78f17596d18bd3f1139ea33bbb6b112c97f8162f/ttl/phenotypes.ttl#L303

I think you want the subclasses of `ilxtr:ElectrophysiologicalPhenotype`. They mostly cover the petilla nomenclature or a blue brain nomenclature that is quite similar.

[2022-01-04 14:43] shawntanzk commented on #462
thanks @tgbugs :)

[2022-01-13 17:57] #342 closed

[2022-01-18 16:15] shawntanzk opened #466 "multipolar neuron morphology (PATO:0070026) def to match up with changes in CL"
see https://github.com/obophenotype/cell-ontology/pull/1407#issuecomment-1015568088

[2022-01-26 12:54] #466 closed

[2022-02-01 15:07] balhoff commented on #454
@shawntanzk to answer your question above, I do think numerical IDs for those properties would be good.

[2022-02-01 15:57] shawntanzk commented on #454
@balhoff - I guess the question then is if they belong in RO? or should we do it like the old CP terms in CL and convert them to PATO IRIs?

[2022-02-01 16:06] matentzn commented on #454
Every OP in RO!

[2022-02-01 16:27] shawntanzk commented on #454
Mapping to new RO terms (will map when they are out in RO):
 http://purl.obolibrary.org/obo/pato#decreased_in_magnitude_relative_to – RO:0015008
 http://purl.obolibrary.org/obo/pato#different_in_magnitude_relative_to – RO:0015006
 http://purl.obolibrary.org/obo/pato#similar_in_magnitude_relative_to – RO:0015009
 http://purl.obolibrary.org/obo/pato#increased_in_magnitude_relative_to – RO:0015007
 h

[2022-02-07 16:32] #454 closed

[2022-02-09 08:38] shawntanzk opened #471 "Eosinophilic and acidophilic refer to the same thing"
PATO:0002418 (acidophilic) and PATO:0002419 (eosinophilic) refer to the same thing.

Eosin stains all acidophilic things so technically they should be one term as they refer to the same thing.
Suggestion is to merge eosinophilic into acidophilic and place it as a synonym.

[2022-02-09 20:02] ddooley commented on #446
I like #1 without highlighting the letters in full name.

[2022-02-09 20:03] balhoff commented on #446
Should it refer to "characteristics" instead of qualities?

[2022-02-09 20:41] matentzn commented on #446
Any other concrete ideas?

Ontology of Physical and Processual Characteristics?

[2022-02-09 21:08] ddooley commented on #446
"Ontology of Physical and Processual Characteristics" is great because it reads real smooth and conveys exactly what it is about.

I was curious if there was a word that encompassed both physical entity and process.  Phenomena.  "A phenomenon is an observable fact or event. The term came into its modern philosophical usage through Immanuel Kant, who contrasted it with the noumenon, which cannot be

[2022-02-10 11:20] Clare72 commented on #446
Using 'tangible' instead of 'physical' -> **P**rocessual **A**nd **T**angible characteristic **O**ntology

[2022-02-10 11:26] matentzn commented on #446
Haha good suggestion for the PATO akronym.. But I don't think tangible is a widely used term in the ontosphere, and it will have people trip in surprise, possibly even hurt themselves.. But creative none the less. Lets see what others say.

[2022-02-14 21:56] BarryFen opened #475 "NTR: rusty"
Hi PATO team,

I'll like to upload the term 'rusty', here's the information for the term

New term: rusty
Parent: texture (http://purl.obolibrary.org/obo/PATO_0000150)
Definition: A texture quality inhering in a bearer by virtue of the bearer's being covered by iron oxide as a result of oxidation.
Definition cross reference: [https://en.wikipedia.org/wiki/Rust]

[2022-02-16 16:38] shawntanzk commented on #475
@nicolevasilevsky - happy to handle this, just wanted to tag you in case you have any comments as you're more experienced than me :)

[2022-02-16 17:20] nicolevasilevsky commented on #475
this looks good to me, thanks for adding it @shawntanzk

[2022-02-17 09:39] shawntanzk commented on #475
@BarryFen could you also drop your ORCID so we can attribute you with this, thanks

[2022-02-17 13:25] BarryFen commented on #475
Here's my ORCID: https://orcid.org/0000-0002-2738-824X

[2022-02-19 03:17] ddooley opened #477 "How to describe predicted vs measured/observed phenotypes?"
1) Phenotypes can be observed/measured, or inferred from data (e.g. genomic sequence data). If inferred, there is a degree of uncertainty as to whether the expected phenotype will actually inhere in the thing.  For example in organism X, a specific mutation may correlate with resistance to a given drug. The correlation has not been tested and confirmed for organism Y. It is expected that resistanc

[2022-02-19 12:20] shawntanzk commented on #477
assigning @dosumis and @cmungall - figure you'd be interested in this.

Regarding this, I think it is similar to something we are trying to work out in the Brain Data Standards ontology in recording confidence of markers that identify a cell type. We are trying to do this through having a class that contains information about the method and the statistics (in our case NS-forest and F-beta score) -

[2022-02-20 14:14] matentzn opened #478 "New release"
Some definition on synovial cell causes problems for MP, which is not yet on base

- [ ] https://github.com/mgijax/mammalian-phenotype-ontology/issues/3521

@shawntanzk if you could do a release soonish that would be great, if not, I can do it too.

[2022-02-20 15:28] shawntanzk commented on #478
happy to run one, stuck inside today anyway cause of rain :( I'm guessing it needs IMP to be refreshed too?

[2022-02-20 15:29] matentzn commented on #478
Yeah probably the entire thing IMP MIR both true! Thank you! :)

[2022-02-20 17:08] shawntanzk commented on #478
it seems that running `prepare_release` didnt update merged imports - am now making it separately instead, but thought it might be something to look into

[2022-02-20 17:50] matentzn commented on #478
`prepare_release` did not update merged imports?  in any case, this pointed me to a missing link in the dependencies, so good observe, thanks @shawntanzk

[2022-02-20 17:52] shawntanzk commented on #478
Yups, had to run it separately.

[2022-02-20 19:19] #478 closed

[2022-02-21 09:42] dosumis commented on #477
I think PATO is not the right place.  A predicted phenotype is not a quality of something, like its colour, length or shape.  It also sounds like you need properties, which PATO has not, to now, been in the business of minting.

In general there is resistance in OBO to recording uncertainty/evidence *in* assertions rather than *on* them.  Many of the assertions we make have some degree of uncertai

[2022-02-28 10:50] matentzn commented on #263
@anitacaron can you close this if it is done?

[2022-03-11 14:11] dosumis opened #481 "Create terms for number density"
The degree of [concentration](https://en.wikipedia.org/wiki/Concentration) of [countable](https://en.wikipedia.org/wiki/Countable) objects ([particles](https://en.wikipedia.org/wiki/Elementary_particle), [molecules](https://en.wikipedia.org/wiki/Molecules), [phonons](https://en.wikipedia.org/wiki/Phonon), [cells](https://en.wikipedia.org/wiki/Cell_(biology)), [galaxies](https://en.wikipedia.org/wi

[2022-03-18 14:40] johnwjudkins commented on #337
Following up. I've improved on the definitions. Now I think only the length and width definitions need to be changed.

length
A 1-D extent that is greater in its dimension than the extent in either of the other two orthogonal dimensions.

width
A 1-D extent in the dimension such that it is greater than the extent in only one of the other two orthogonal dimensions.

[2022-03-18 15:29] shawntanzk commented on #337
Hi @johnwjudkins , sorry this didn't get looked at before.

@nicolevasilevsky @dosumis (please tag anyone else in here that might be interested) - need input on this

I think the proposed changes are over-restrictive, given that the use length, width, and thickness are highly dependent on the situation and perspective. I get that in maths, the longer line must always be the length, but in terms of

[2022-03-25 19:36] KaylaPenn opened #482 "Create terms 'male with DSD' and 'female with DSD'"
Individuals with congenital physical disorders of sexual development (DSD; the term 'intersex' is more commonly known, but is a misnomer as people with DSD are not between sexes, a third sex or hermaphrodites) are not represented under male [PATO_0000384] or female [PATO_0000383]. These conditions can be valuable classifiers when relevant and are not the same as later changing natal/naturally-deve

[2022-03-30 14:47] cboelling opened #483 "Clarify PATO_0001912: physiological state"
The definition of [PATO_0001912 _physiological state_](http://purl.obolibrary.org/obo/PATO_0001912) is:

_A quality of a single process inhering in a bearer by virtue of the state of bearer's mechanical, physical, and biochemical processes._

The class is a subclass of [PATO_0001236 _process quality_](http://purl.obolibrary.org/obo/PATO_0001236) (_A quality which inheres in an process._)

This def

[2022-03-30 15:13] shawntanzk commented on #482
Hi @KaylaPenn,

thanks for the ticket, we will look into this and try to get the terms added.

@nicolevasilevsky - not sure if you want to handle this? I'm happy to, but it might take me a bit of time to get to this. I'll assign it to myself for now, but if you want to take it please do assign yourself too. Thanks!

[2022-03-31 15:47] PaulNSchofield opened #484 "Change definition of PATO_0001739 Radiation Quality"
Radiation quality is a property inhering in the radiation energy and not in the entity or medium exposed to the radiation.

**New definition:**
Is a quality of radiation that reflects the fluence spectrum of charged and neutral particles within the material or medium where dose is being deposited.

**Citation**
https://melodi-online.eu/wp-content/uploads/2021/04/02-What-is-radiation-quality-Goodhe

[2022-03-31 16:00] PaulNSchofield opened #485 "deprecate PATO_0001744 Radiation exposure and replace"
Radiation exposure is a process and does not conform to the definition given. This would best be deprecated and replaced with

**Label:** Irradiated
**Definition:** A quality inhering in a bearer by virtue of the bearer being exposed to electromagnetic, usually ionising, radiation.
**Parent:** PATO_0001241 Physical object quality
**Comments:** Irradiation may be external or in the case of an organ

[2022-03-31 16:53] nicolevasilevsky commented on #482
I can do it! Thanks @shawntanzk

[2022-03-31 17:38] nicolevasilevsky commented on #482
@KaylaPenn what are the specific terms that you'd like us to add? Could you please share the term label, any synonyms and a suggested definition?
Thank you!

[2022-03-31 20:31] KaylaPenn commented on #482
I defer to what you think is best. I suggest the following, but it doesn't translate well for non-animals:

**'male with DSD'** or **'male, DSD'** = an otherwise male individual of a non-hermaphroditic species who has ambiguous or atypical congenital development of genetics, genitals and/or gonads

**'female with DSD'** or **'female, DSD'** = an otherwise female individual of a non-hermaphroditic

[2022-04-01 01:01] nicolevasilevsky commented on #482
thanks @KaylaPenn and @sbello. I'll start this on a PR and folks can weigh in.
Beautiful graphics in that SA article!

[2022-04-01 01:06] nicolevasilevsky commented on #482
@KaylaPenn do you have an ORCID?

[2022-04-01 19:49] KaylaPenn commented on #482
0000-0001-5193-0062

[2022-04-04 07:36] shawntanzk commented on #484
Hi @PaulNSchofield - wondering if you had a better citation for it, a linked pdf doesn't seem to be the most stable thing.
Could you also provide your ORCID so I can credit you with the changes proposed? Thanks

[2022-04-04 07:58] PaulNSchofield commented on #484
It’s pretty stable as that is the website of a large European project. The document is the only critical appraisal of the issue unfortunately and most other sources get it wrong. However I’ll deposit in in the Store database and it will get a doi. Store is completely stable. German federal resource. I’ll get my orcid to you as soon as I get back to my laptop.

Cheers

P

Get Outlook for iOS<https:

[2022-04-04 12:25] PaulNSchofield commented on #484
ORCID: 0000-0002-5111-7263

[2022-04-04 12:39] PaulNSchofield commented on #484
This DOI should be live soon: [DOI:10.20348/STOREDB/1173/1250](http://dx.doi.org/doi:10.20348/STOREDB/1173/1250)
There is also an accession ID.. [STOREDB:STUDY1173](https://www.storedb.org/?STOREDB:STUDY1173)
STORE is registered with Re3DATA and identifiers.org

[2022-04-04 12:53] shawntanzk commented on #484
thanks heaps will make the edits :)

[2022-04-04 12:55] PaulNSchofield commented on #484
Cheers! Much appreciate how fast you have done this!

I will get a few more classes in this are oof the ontology under consideration soon along with my colleagues at NASA,

Cheers,

Paul

Dr Paul Schofield MA D.Phil FRSB

Professor of Biomedical Informatics, University of Cambridge.
Department of Physiology, Development and Neuroscience,
Downing Street, Cambridge CB2 3EG. UK

Fellow, The Alan Turi

[2022-04-04 13:11] KaylaPenn commented on #482
Fun fact I learned from someone more knowledgeable: 'dioecious' (mostly applied to plants) and 'gonochoric' (mostly applied to animals) are antonyms for 'hermaphroditic'

[2022-04-04 14:15] shawntanzk commented on #485
Hi @PaulNSchofield would you suggest that the child nodes under radiation exposure be moved to child of irradiated too? From the definition you have given, could I suggest that instead of depercating radiation exposure, we move it to a physical object quality, change the label to irradiated, and use radiation exposure as a related synonym? I would think that most people refer to irradiated when us

[2022-04-21 16:59] rays22 commented on #483
Consider obsoleting 'ictal' PATO:0001913. Consider using 'seizure'.

[2022-04-21 17:12] dosumis opened #488 "Review seizure phenotypes and decide on pattern"
The aim of this ticket is to review seizure phenotypes and develop PATO terms/patterns for defining them.

The only option we have for formalising seizure phenotypes at present using PATO seems to be the terms ictal and non-ictal.  Examples from ZP of usage of these PATO terms seems to be consistent with recording siezures, but the resulting terms don't communicate that clearly.

 - [ ] @ybradford

[2022-04-21 17:12] dosumis commented on #483
@cboelling - We agree that this is a confusing class.  The definition is confusing.   The fact that it sounds like a very general class but only has two, very specific subclasses is a bad sign.    We are therefore considering obsoleting it, but first we will need to consider what to do with phenotypes where this term has been used. @ybradford will add examples.

We also reviewed the two subclasses

[2022-04-27 10:37] Clare72 opened #489 "'hyperplastic' should be defined by cell number rather than size"
Discussed in phenotype ontology editors' call 02/24/22

'hyperplastic' - PATO:0000644 is currently defined to be an increase in size, but this is not always the case (if the cells are smaller). It should instead be defined as an increase in the number of cells.

A similar change should be made to 'hypoplastic' - PATO:0000645

[2022-04-27 10:41] shawntanzk commented on #489
Hi @Clare72, I'm currently shepherding PATO (triaging tickets). Are you happy to make the changes yourself/can I assign this ticket to you? Thanks

[2022-04-27 11:14] Clare72 commented on #489
This may need further discussion, as it is not immediately clear where to move the terms to - there is no 'increased cell number' term (yet). Perhaps just under 'increased object quality'? @dosumis ?

[2022-04-27 11:56] shawntanzk commented on #402
Hi @PaulNSchofield sorry I missed this before.
Could you confirm these are the actions:

- [ ] Change PATO_0001744 label to "irradiated" or "radiation exposed"
- [ ] Move current children to more appropriate parent term
- [ ] Potentially add new subclasses of PATO_0001744  "low-absorbed-dose radiation exposed" if there is a use case - though probably not

Happy to help change the label, but regard

[2022-04-27 11:59] shawntanzk commented on #403
@PaulNSchofield is this addressed by the change of definition in https://github.com/pato-ontology/pato/pull/487 or should we still change the label?

[2022-04-27 15:24] PaulNSchofield commented on #403
Hope the above addresses this @shawntanzk .

[2022-04-27 15:32] shawntanzk commented on #485
Ah ok, got it.
Happy to make the changes, but given I know just about nothing about radiation, would be good if you could provide me the following:
1) Names, definitions (and associated references), synonyms, superclass (which you have already provided) of the two terms to be added
2) for deprecation of PATO:0001745, PATO:0001747, PATO:0001746, it would be good if I could get their relevant replac

[2022-04-27 15:42] #484 closed

[2022-04-27 15:44] shawntanzk commented on #403
Fixed by https://github.com/pato-ontology/pato/pull/487 - please reopen or create a new issue if there are still issues on this

[2022-04-27 15:44] #403 closed

[2022-04-27 18:40] nicolevasilevsky commented on #337
Hi @shawntanzk adding a comment sounds good. The definitions are not very easy to understand, could we perhaps have a more user-friendly definition?

See: https://www.merriam-webster.com/dictionary/length

[2022-04-28 07:41] shawntanzk commented on #337
I think the marriam-webster dictionary has the same issue as what I mentioned. I think a good compromise would be to make the comment more user-friendly (eg: Length often refers to the longer or longest dimension of an object, however, this is not always true) while keeping the definition as is

[2022-04-29 08:32] PaulNSchofield commented on #484
We had further discussions about the impact of the change of definition on the existing child terms and the local ontology structure yesterday. In the light of this , and apologies for asking for a tweak to the changes we suggest that:
1. The definition is changed ( @shawntanzk I know that you have done this, thanks!) and the parent should be Physical quality (PATO:0001018)
2.electromagnetic (EM)

[2022-04-29 08:36] PaulNSchofield opened #490 "Electromagnetic (EM) radiation quality ( PATO:0001291) and subtree"
We had further discussions about the impact of the change of definition on the existing child terms and the local ontology structure yesterday. In the light of this , and apologies for asking for a tweak to the changes we suggest that:

1. The definition of Radiation quality is changed ( @shawntanzk I know that you have done this, thanks!) and the parent should be Physical quality (PATO:0001018)
2

[2022-04-29 08:54] PaulNSchofield commented on #485
We are agreed on the suggestions above:
1. add a new class "Irradiated" with a synonym "radiation exposed".
Definition: "A quality of a substance currently or previously exposed to electromagnetic radiation"
Comments: " This may refer to incident external irradiation or internal radiation from an ingested or otherwise internal source"
Reference: Radiobiology for the Radiologist ( 2018) Eric J. Hal

[2022-05-02 08:30] hujo91 opened #491 "Create new term "molarity""
Dear PATO-Team, I would like to propose to include the term "molarity" as a child of the class ["concentration of" (PATO:0000033)](https://www.ontobee.org/ontology/PATO?iri=http://purl.obolibrary.org/obo/PATO_0000033).

- Suggested Definition: A concentration quality inhering in a bearer by virtue of the bearer's amount of moles of solute per liter of solution. (by analogy with ["osmolarity" (PATO

[2022-05-03 14:19] shawntanzk commented on #483
related to https://github.com/pato-ontology/pato/issues/488
@rays22 I'm going to unassign myself from this ticket, hope that's ok

[2022-05-03 14:54] shawntanzk commented on #485
Hi @PaulNSchofield I'm looking at the definition of radiation exposure and it is similar to that of irradiated, I've hence opted to keep the ID but change the label, axioms, and def accordingly, hope that is alright

[2022-05-03 14:58] shawntanzk commented on #485
I'm also not sure what the difference between irradiated and quality of interaction of a substance with electromagnetic radiation is?

[2022-05-03 15:04] ybradford commented on #483
@dosumis sorry for the delay - this fell off my radar. It looks like only three statements:
visual perception physiological state, abnormal ZP:0012876
acetylcholine receptor activity physiological state, abnormal ZP:0009594
age-dependent general metabolic decline physiological state, abnormal ZP:0020895

[2022-05-03 15:05] shawntanzk commented on #485
I'm not 100% sure PATO deals with actual processes, rather just quality of the process.

[2022-05-03 15:20] ybradford commented on #488
neuronal action potential ictal, abnormal ZP:0007673 has part some(ictal and characteristic of some neuronal action potential and has modifier some abnormal)

brain ictal synaptic signaling, abnormal ZP:0020669 has part some (ictal and characteristic of some (synaptic signaling and occurs in some brain) and has modifier some abnormal)

transmission of nerve impulse ictal, abnormal ZP:0142177 has p

[2022-05-03 16:11] ybradford commented on #483
I would need to look at the publications.

[2022-05-03 17:04] PaulNSchofield commented on #485
@shawntanzk you are correct! My  internal BFO is getting confused. Radiation exposure should not be in PATO as its a process and not a quality. We now have "Irradiated" which of course is a quality.. I think we should deprecate and recommend using RBO_00002000 Radiation exposure. Im so sorry that this has all been very confusing....combination of dealing with two ontologies at a time and looking a

[2022-05-04 11:58] StroemPhi commented on #491
we mistakingly tagged https://github.com/pato-ontology/pato/issues/481 here

[2022-05-10 06:55] shawntanzk commented on #490
@PaulNSchofield whoops, missed that, will do

[2022-05-13 18:16] rays22 opened #495 "Restructure density classes"
This issue is related to DOSDP phenotype pattern
[Irregular density of anatomical entity](https://github.com/obophenotype/upheno/issues/797) utilising [PATO:0002141 irregular density](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0002141).

Proposals from the [Phenotype Ontology Working Group on 2022-03-10.](https://docs.google.com/document/d/1Wr

[2022-05-19 16:27] rays22 commented on #495
Another related phenotype pattern: https://github.com/obophenotype/upheno/issues/825

[2022-05-19 16:37] rays22 commented on #495
Related #481 .

[2022-05-19 16:39] sbello commented on #481
Related ticket https://github.com/pato-ontology/pato/issues/173

[2022-05-19 17:00] PaulNSchofield commented on #490
We checked out the version on the branch at our meeting today and all looks good, so happy to merge. Any idea when the next release will be as we will need that to happen before we can do our next build and pull in the new PATO changes? Thanks!!

[2022-05-19 17:05] #485 closed

[2022-05-19 17:05] #490 closed

[2022-05-19 17:05] shawntanzk commented on #490
I can push out a release tomorrow. Will let you know when I do :) thanks

[2022-06-13 12:18] shawntanzk opened #499 "[NTR] double bouquet morphology"
Label: double bouquet morphology
Definition: a cell morphology that inheres in neurons with bitufted dendritic morphology but with the special feature of a tight fascicular axonal cylinder that resembles a 'horse tail'. [PMID:15378039]
parent: bitufted dendrite cell morphology (PATO:0070027)

[2022-06-16 06:44] #499 closed

[2022-06-16 11:06] rays22 opened #501 "Clarify in PATO the distinction between mislocalised and dislocated"
Clarify the distinction between [mislocalised PATO:0000628](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000628) and [dislocated PATO:0001852](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0001852).
See [comment]((https://github.com/obophenotype/upheno/pull/829#issuecomment-1138747275)

* [pos

[2022-06-16 13:22] rays22 opened #502 "Clarify the distinction between curved and deviation"
### Shapes, curves, spatial patterns, deviation in PATO
* PATO:0000052 shape [A morphological quality inhering in a bearer by virtue of the bearer's ratios of distances between its features (points, edges, surfaces and also holes etc).](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000052&lang=en&viewMode=PreferredRoots&siblings=false) *comment:

[2022-06-16 16:20] rays22 commented on #501
- [ ] need a report of usage of
[mislocalised PATO:0000628](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000628) A positional quality inhering in a bearer by virtue the bearer's being changed in abnormal position.
[dislocated PATO:0001852](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0001852)

[2022-06-16 16:52] rays22 commented on #402
Usage?
- [ ] check it on ontobee

[2022-06-16 16:58] dosumis opened #504 "herniated into & out_of should be subclasses of herniated"
At least I think they should be

* herniated into: A quality inhering in a bearer by virtue of the bearer's bodily structure that has protruded through an abnormal opening in the wall that contains it into the surface or boundary of another entity.
* herniated: A quality inhering in a bearer by virtue of the bearer's bodily structure that has protruded through an abnormal opening in the wall that

[2022-06-16 18:07] sbello commented on #504
MP does not import the into and out_of children of herniated. We only have herniated.

For the herniated eq we have:
'herniated intestine' EquivalentTo 'has part' some
(herniated and ('characteristic of' some intestine) and ('has modifier' some abnormal))

'umbilical hernia' EquivalentTo 'has part' some
(herniated and ('characteristic of' some 'umbilical cord') and ('has modifier' some abnormal))

[2022-06-16 18:56] dosumis opened #505 "Proposed edits to the 'displaced' branch."
1. There is no obvious difference between the definitions of mislocalised and displaced.  Neither of these terms refers to 'develops in the wrong location', although this would be a really useful thing to record - distinct from dislocated (develops in correct location and then physically moves).
2. It would be useful to have a grouping term covering 'develops in the wrong location' and
3. Ectopic

[2022-06-16 18:57] dosumis commented on #501
Ticket can be closed on merge #503. New issue https://github.com/pato-ontology/pato/issues/505

[2022-06-16 19:20] PaulNSchofield commented on #402
So the original class was defined as a quality of radiation, which it is not, so we changed the definition as the intended meaning was certainly "irradiated" after asking around. From the physics point of view an object or an animal has different properties once it has been irradiated and logically this is then an acquired quality as a consequence of the input of energy. This is a one way process

[2022-06-16 21:12] sbello commented on #402
Thanks @PaulNSchofield that makes sense. So a use case for this would be something like "irradiated tomato" which would encompass the changes in the tomato induced by radiation exposure. It would probably help to have a curation note with the term to explain the usage.

What is the use case for the child terms or should these be obsoleted?

[2022-06-17 03:30] shawntanzk commented on #402
I can't rmbr, have I made all the changes you requested already @PaulNSchofield
Either way I'm going to remove myself from this thread, please ping me if there's anything I can help with :) thanks

[2022-06-20 08:33] PaulNSchofield commented on #402
As far as I can see there are no child terms for PATO_0001744 @sbello . I think these might have already been deprecated?

[2022-06-20 13:21] only1chunts opened #507 "addition of "monoecious" to pato"
## user story

## Additional information
The term monoecious refers to the hermaphroditic state of a plant see wikipedia https://en.wikipedia.org/wiki/Monoicy
It is probable that the term can simply be added as a synonym to the existing PATO term "hermaphrodite" [PATO:0001340], although you may wish to take the opportunity to expand the PATO terminology to include other plant-specific sex-related

[2022-06-20 14:26] sbello commented on #402
We were discussing this ticket at the Phenotype editors call last Thursday with relation to if the children needed to be kept but if they don't that is great. I think then we can close the ticket?

[2022-06-20 14:43] PaulNSchofield commented on #402
agreed!

[2022-06-20 14:48] #402 closed

[2022-06-27 02:21] #337 closed

[2022-07-11 09:56] rays22 opened #508 "new term request: prolapsed"
- [ ] create new term `prolapsed`
- [ ] make it a child of [PATO:0000623 exserted](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000623)

This term request is based on [community feedback](https://docs.google.com/document/d/1WrQanAMuccS-oaoAIb9yWQAd4Rvy3R3mU01v9wHbriM/edit#heading=h.eacsokhdqz0d) on the phenotype pattern template [Exserted anato

[2022-07-11 13:29] rays22 opened #509 "Make 'herniated into' and 'herniated out of' the child terms of 'herniated'"
Make 'herniated into' and 'herniated out of' the child terms of
- [PATO:0000643 'herniated'](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0000643).
    - [PATO:0002163 'herniated into'](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0002163)
    - [PATO:0002167 'herniated out of'](https://www.eb

[2022-07-11 18:20] rays22 opened #510 "Change the hierarchy under PATO:0001509 functionality"
Change the hierarchy of [PATO:0001509 functionality](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0001509)
to the following:

* decreased functionality
    * insufficient
    non-functional
    ?
    Remove 'decreased functionality' from under functional.
    Add comment in patterns: 'functional' should not be used in patterns.

* * * * * * *

A

[2022-07-14 13:47] KaylaPenn commented on #482
I will not operate this GitHub account after July 20th. Please contact Dr. Ruth Timme (https://github.com/retimme) for any further questions or comments. Thank you.

[2022-07-22 09:22] #471 closed

[2022-07-22 16:10] #482 closed

[2022-07-22 16:42] #343 closed

[2022-07-22 19:47] sbello commented on #326
@dosumis Is your concern that this is limited to "process"? I checked the MP and we use increased/decreased magnitude in a few eq (eg enhanced/impaired wound healing)
We typically use size and not magnitude for anatomical entities.
Would it be helpful if the term label were changed to something like "magnitude of process" to match the definition restriction. The current term is undefined but I can

[2022-07-22 20:53] cmungall commented on #326
Yes magnitude is also used as a kind of meta quality to define inc/dec

I’m not sure magnitude should apply directly to characteristics? Always 2nd
order? How is the proposed definition for process magnitude different from
extent or duration?

On Fri, Jul 22, 2022 at 12:47 PM Sue Bello ***@***.***> wrote:

[2022-07-26 23:44] nicolevasilevsky commented on #298
addressed on PR #327

[2022-07-26 23:45] nicolevasilevsky commented on #298
Do we still need to do this?
- obsolete population quality
- add new term population physical quality
?

[2022-07-27 15:39] #297 closed

[2022-08-03 06:29] ValWood commented on #46
HI, what needs to happen to  discuss/resolve this issue?
https://github.com/pombase/fypo/issues/4193#issuecomment-1203011404

Is there a reason not to relate "decreased"  to "abolished" in PATO? Otherwise we need to instantiate all of these links manually.

thanks.

[2022-08-04 18:16] ddooley commented on #101
For those opening this old thread, latest work to provide non-opaque, normalized UCUM units, meant to bridge UO, OM, etc. : https://units-of-measurement.org/ and https://github.com/units-of-measurement

[2022-08-08 10:59] rays22 opened #512 "Obsolete PATO:0002419 showing up in release file `pato.owl` and on OLS"
The class [PATO:0002419 eosinophilic](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0002419) was obsoleted in the latest release [(see #471)](https://github.com/pato-ontology/pato/issues/471), but it is showing up in the release file [`pato.owl`](http://purl.obolibrary.org/obo/pato/releases/2022-07-21/pato.owl) and on (pre-production) OLS as non-

[2022-08-08 15:26] sbello opened #513 "absent some vs absent all"
related to #332

There has been inconsistent usage of "absent" across and within phenotype ontologies. When we say "absent X" where X is something that in normally present in multiple copies do we mean some of X are absent or that all X are absent. For example does "absent teeth" mean absence of all teeth or absence of some teeth.

We have have extensive discussions on the UPheno calls (https://do

[2022-08-09 16:38] nicolevasilevsky opened #514 "obsolete PATO:0000462 absent"
**PATO term (ID and Label)**
PATO:0000462 absent

**Reason for deprecation**
See discussion on #331
We recommend using the new absent terms physical absence and absent process, respectively (see below). This term is a legacy term.

Also related: https://github.com/pato-ontology/pato/issues/513

**Suggested term to consider**
PATO:0040058 absence of physical object
PATO:0040059 absent process
PATO:

[2022-08-10 09:15] rays22 commented on #512
- make  a new release

[2022-08-10 14:55] #512 closed

[2022-08-11 16:57] sbello opened #516 "curled, coiled and undulate review"
We need to review the organization and definitions of these terms and their children:

coiling http://purl.obolibrary.org/obo/PATO_0001794
definition: A shape quality inhering in a bearer by virtue of the bearer's being wound in a continuous series of loops.

coiled http://purl.obolibrary.org/obo/PATO_0000404
definition: A shape quality inhering in a bearer by virtue of the bearer's being curled o

[2022-08-13 08:41] matentzn opened #517 "pato.owl has a lot of straddlers"
Would someone be able to refresh the PATO imports and make sure that when you open pato-edit.owl afterwards, no more straddlers are found? There are quite a few at the moment.

[2022-08-15 17:47] nicolevasilevsky commented on #514
- sent message in Slack to PATO channel on 08/09/22
- sent message in Slack to Phenotype-editors channel on 08/15/22
- emailed OBO-discuss list on 08/15/22

[2022-08-16 09:28] pbuttigieg opened #518 "broaden "amount""
Currently this only allows for numbers of things that are parts of organisms. We'd like to use that in ontologies like ENVO, but it's currently overspecific due to PATO's history.

Perhaps the current class can be relabelled and a superclass that's a more inclusive notion of amounts can be added.

xref: #1346

[2022-08-16 09:30] pbuttigieg commented on #518
In fact it's already being used more broadly (and technically incorrectly) by some of our editors (@kaiiam @cmungall may have insight there)

![image](https://user-images.githubusercontent.com/2276146/184846868-dd44cdd7-4d73-4487-a2c0-826918fa4fea.png)

[2022-08-16 16:02] matentzn commented on #517
Yes.. These are quite a few still. Does PATO have an NCBITaxon dependency? we could use the base module clean mechanism to get rid of all of these dangling classes?

[2022-08-16 19:23] rays22 opened #520 "Rename 'deviation' to 'spatial deviation'"
Rename 'PATO:0002175 deviation' to 'spatial deviation' to make the label less ambiguous.
This was requested at the [Phenotype Ontology Working Group meeting on 7/14/2022](https://docs.google.com/document/d/1WrQanAMuccS-oaoAIb9yWQAd4Rvy3R3mU01v9wHbriM/edit#heading=h.60i01y4j8hwg) in the context of [PR #854](https://github.com/obophenotype/upheno/pull/854)

[2022-08-17 09:13] kaiiam commented on #518
I'm not sure at the moment what the right thing to do with `amount` is other than work on it in PATO to make it more general?

Those `amount of carbon or nitrogen in env material` classes are confusing are they ratios or concentrations? I'd presume the latter if so the concentration classes should be used instead. We currently don't have a pattern for ratios.

[2022-08-17 16:19] cthoyt opened #521 "Proliferation of `http://purl.oboInOwllibrary.org/oboInOwl` URLs"
there are tons of ontologies that have `http://purl.oboInOwllibrary.org/oboInOwl` URLs that appear to have originated form PATO. these should be bulk fixed to match the proper OBO PURL

[2022-08-17 16:28] balhoff commented on #521
I don't see any URIs like that in PATO. Do you mean `http://www.geneontology.org/formats/oboInOwl#`? This is part of the OBO spec and comes from the OWLAPI OBO parser.

[2022-08-17 16:29] balhoff commented on #521
Now I see your github search. That's really weird; it seems like someone's tool is introducing that.

[2022-08-17 16:32] balhoff commented on #521
Somewhere somebody did a find and replace for `obo` with `oboInOWL`, so that `http://purl.obolibrary.org/obo` became `http://purl.oboInOwllibrary.org/oboInOwl`.

[2022-08-17 16:41] balhoff commented on #521
Every project I looked at in your search results made use of OntoFox to extract imports. I wonder if it has or had a bug.

[2022-08-17 20:45] cthoyt commented on #521
That's an interesting thought, but I just searched the OntoFox codebase for mentions of `oboInOwl` with https://github.com/OntoZoo/ontofox/search?q=oboinowl and nothing looked fishy (other than it being in PHP)

[2022-08-25 16:27] rays22 opened #524 "Update the definition of 'delaminated'"
The text definition of
`PATO:0001514 delaminated`
does not fit community usage.

Related to https://github.com/obophenotype/upheno/pull/851

[2022-09-08 18:10] #520 closed

[2022-10-06 16:56] #489 closed

[2022-10-13 08:49] ar-ibrahim opened #529 "New term request: internal and external diameter"
| Term   | Textual definition | Suggested parent term |
| ------------- | ------------- | ------------- |
| internal diameter  | A length quality which measures the distance of a straight line from one point on the inner wall of an object, through its center, to an opposite point also on the inside.  | diameter: PATO_0001334  |
| external diameter  | A length quality which measures the distance of

[2022-10-13 14:18] althonos opened #530 "Missing value in `basicPropertyValues` of latest JSON graph"
Hi!

The last version of `pato.json` has an invalid property-value node: at line 510134 of `pato.json`, there is a predicate appearing twice but once without a value, which I think is an error:
[code]

[2022-10-13 19:00] cmungall commented on #530
This is in PCO which is imported by PATO

    <Class rdf:about="http://purl.obolibrary.org/obo/PCO_0000001">
        <rdfs:label xml:lang="en">population of organisms</rdfs:label>
        <rdfs:subClassOf rdf:resource="
http://purl.obolibrary.org/obo/PCO_0000018"/>
        <ns2:IAO_0000112 xml:lang="en"></ns2:IAO_0000112>
        <ns2:IAO_0000115 xml:lang="en">A collection of organisms, all of
the

[2022-10-18 09:17] shawntanzk opened #531 "[NTR] bistratified dendrite morphology"
Label: bistratified dendrite cell morphology
Superclass: PATO:0010006 ('cell morphology')
Definition: A cell morphology that inheres in neurons with dendrites that stratifies at two and only two locations. [PMID:34093409]

Context: useful for defining cells in https://github.com/obophenotype/cell-ontology/pull/1713 -> currently uses bilateral, which is causing unsats

@dosumis & @patrick-lloyd-ray

[2022-10-19 22:07] patrick-lloyd-ray commented on #531
I don't see the utility in linking to 'bilateral' here, but perhaps I'm not thinking through all of the possible use cases.

[2022-10-20 08:19] shawntanzk commented on #531
Agreed - I was  just wondering if there was utility given it was used previously, will make a PR without it then :) thanks!

[2022-10-20 17:04] rays22 opened #533 "Review related terms: dilated, distended, swollen"
Review and if necessary revise the related terms:
* [PATO:0001571 dilated](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0001571)
* [PATO:0001602 distended](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPATO_0001602)
* [PATO:0001851 swollen](https://www.ebi.ac.uk/ols/ontologies/pato/terms?iri=http%3A

[2022-10-21 21:06] sbello commented on #533
Discussed on the UPheno call 10/20/22
Some of the issues:

- swollen is a child of structure while dilated and distended are children of increased size but all 3 mention enlargement or increased size in the definitions
- distinction between all 3 is fuzzy
- swollen can be used interchangeably with dilated for some structures (swollen/dilated mitochondria, dilated/swollen allantois)
- swollen and d

[2022-10-27 16:56] sbello opened #534 "review definition of scaly"
Need to clarify the definition of scaly (http://purl.obolibrary.org/obo/PATO_0001804)
Current definition is " A texture quality inhering in a bearer by virtue of the bearer's being covered or partially covered with scales."
It is unclear if this is meant to cover

- true scales
- scaly skin as in patches of thick, dry, shedding epidermis
- both

Need to determine the intent of this and if we can u

[2022-10-28 07:26] #531 closed

[2022-11-10 22:24] ValWood commented on #46
Hi, any news on a connection between decreased and abolished yet?
(and if you think this makes sense)

[2022-11-10 22:36] sbello commented on #46
I've put this on the agenda for the next phenotype editors call https://docs.google.com/document/d/1WrQanAMuccS-oaoAIb9yWQAd4Rvy3R3mU01v9wHbriM/edit?usp=sharing on 11/17/22

[2022-11-17 18:29] ValWood commented on #46
If this is in response to

I agree that arrested and abolished are not really synonymous.

Arrested in cell biology means stopped/attentuated and  usually  refers to temporal events like development @pfey03  refers to, or cell cycle progression.
Arrested may or may not be reversible, but it means a process or event begins but  cannot go beyond a certain point. To use arrested usually  you would wa